<Directory "/path/to/document/root">
    Order allow,deny
    Allow from all
    <IfModule mod_rewrite.c>
        RewriteEngine On

        RewriteCond %{HTTP_HOST} ^esteticapp\.com\.uy [NC]
        RewriteRule .? http://www.%{HTTP_HOST}%{REQUEST_URI} [R=301,L]
    </IfModule>
</Directory>